<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/JoakimsHome.css">
        <link rel="stylesheet" href="/static/spectre-exp.min.css">
        <link rel="stylesheet" href="/static/spectre-icons.min.css">
        <link rel="stylesheet" href="/static/spectre.min.css">
        <meta charset="UTF-8">
        <title>Hello</title>
    </head>
    <body>
        
        {{{body}}}
    </body>
</html>