<h1 class="title text-center">
        About
    </h1>
    <div class="parchment">  
       {{>header}}
        <p>
            This webpage is for people who like to play RPG's like Warhammer
            and possibly (if I ever expand this page) similar games.
        </p>
        <p>
            If you press the contact page you will find information on how to contact me and if
            you press any of the other buttons you get to the purpose of this website. You have to
            be logged in to create new characters, update them or delete them. I am the only one with
            an account so if you want me to add a new character or enemy you have to contact me about it.
    </p>
    </div> 