<h1 class="title text-center">
    Contact
</h1>
<div class="parchment">
    {{>header}}
    <h3 class="text-center">
        Name: Beaguhl<br>
        <br>Email: placeholdermail@placeholder.com
    </h3>
</div>