<div class="parchment">
    <p>
        Are you sure you want to delete this character?
    </p>
    <form action="/enemy/{{enemyId}}/delete" method="POST">
        <input type="submit" name="delete" value="delete">
    </form>
</div>