<h1 class="title text-center">
    Login
</h1>

    
<div class="parchment">
    {{>header}} 
<form action="/login" method="POST">


    <div>
        Username <input type="text" name="username">
    </div>

    <div>
        Password <input type="password" name="password">
    </div>

    <input type="submit" value="Login!">

</form>
</div>